<div id='navbar-search'>
   <form action="/list/search" method="GET">

    <label for="title-input">Title</label>
    <input id='title-input' type="search" name="title">

    <label for="distance-input">Max distance</label>
    <input id="distance-input" type="number" name="distance">

    <label for='lat-input'></label>
    <input id='user-lat-input' type='hidden' name='lat' >

    <label for='lng-input'></label>
    <input id='user-lng-input' type='hidden' name='lng'>

<button>search</button>
</form>
</div>

<script src="./../scripts/userLocation.js"></script>
