 <form action="index/search" method="get">
  <input type="text" name="title">
  <input type="number" name="distance">
     <label for='lat-input'></label>
    <input type='hidden' name='lat' id='lat-input'>
    <label for='lng-input'></label>
    <input type='hidden' name='lng' id='lng-input'>
</form>


<script src="/public/scripts/userLocation.js"></script>