<div id='containerHomeView'>
    <div id='titleHomeView'>
        <h1>Book by book</h1>
        <p>A place to swap your books FOR FREE</p>
    </div>
    <div id='boxHomePage'>
        <form action="/authentication/sign-in" method="POST"> 
            <input type="text" name="email" id="input-email" placeholder="  Your email" />
            <input type="password" name="password" id="input-password" placeholder="  Password" />
            <a href="/authentication/sign-in"><button>Log in</button></a>
        </form>
        <p>Not a member?   .<a href="/authentication/sign-up">    Sign up </a></p>
    </div>
</div>