<div id='containerHomeView'>
    <div id='titleHomeView'>
        <h1>Book by book</h1>
        <p>A place to swap your books FOR FREE</p>
    </div>
    <div id='boxHomePage'>
        <input type="text" name="email" id="input-email" placeholder="email" />
        <input type="text" name="password" id="input-password" placeholder="password" />
        <button>Log in</button>
        <p>Not a member? <a href="/authentication/sign-up"> Sign up</a></p>
    </div>
</div>