<div class='style-body-pages'>

  <h1>Create a new book</h1>

<form action='/book/create' method='POST'>

  
    <label for="title-form">Book Name</label>
    <input id='title-form' name='bookTitle' type='text' value="{{singleBook.title}}"> 

    <label for="author-input">Book Author</label>
    <input id='author-input' name='author' type='text' value="{{#each singleBook.authors}} {{this}},{{/each}}"> 

    <label for="description-input"> Description</label>
    <input id='description-input' name='description' type='text' value="{{singleBook.description}}"> 

    <label for="comment-input"> Comment</label>
    <input id='comment-input' name='bookComment' type='text-area' placeholder='Insert your comment about the book...'> 

    {{!-- <label for="">Images from your book</label>
    <input type='file' name='picture' id='picture-input' accept='image/png, image/jpeg'>  --}}

    <label for='thumb-input'></label>
    <input type='hidden' name='thumb' id='thumb-input' value="{{singleBook.smallThumbnail}}">
    <label for='lat-input'></label>
    <input type='hidden' name='latitude' id='latitude-input'>
    <label for='lng-input'></label>
    <input type='hidden' name='longitude' id='longitude-input'>
    <div id="map-view" style="width: 60em; height: 30em"></div>
    <button type='submit'>Submit book</button>
</form>
</div>

  <script src='/scripts/mapsCreate.js'></script>
  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCvNd635sKmUOsRjS--aKxAHfNu9bwD7QU&callback=initMap'></script>