Create a new book



<form action='/book/create' method='POST'>

  
    <label for="title-form">Book Name</label>
    <input id='title-form' name='title' type='text' value="{{singleBook.title}}"> 

    <label for="author-input">Book Author</label>
    <input id='author-input' name='author' type='text' value="{{#each singleBook.authors}} {{this}},{{/each}}"> 

    <label for="description-input"> description</label>
    <input id='description-input' name='description-area' type='text' value="{{singleBook.description}}"> 

    <label for="comment-input"> comment</label>
    <input id='comment-input' name='comment' type='text-area' placeholder='Insert your comment about the book...'> 

    <input type='file' name='picture' id='picture-input' accept='image/png, image/jpeg' >

    <label for='lat-input'></label>
    <input type='text' name='lat' id='latitude-input'>

    <label for='lng-input'></label>
    <input type='text' name='lng' id='longitude-input'>

    
    <button type='submit'>Submit book</button>
</form>

<div id="map-view" style="width: 50%; height: 50em"></div>


  <script src='/scripts/mapsCreate.js'></script>
  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCvNd635sKmUOsRjS--aKxAHfNu9bwD7QU&callback=initMap'></script>