<h1>Add a Book</h1>

 <form action='/user/bookcreate' method='POST'>
    <input id='title-input' name='title' type='text' placeholder='Search a title book here...'> 
    {{!-- <label for='author-input'>{{XXXX}}</label> LINKAR AUTHOR DA API--}}
    
    <input id='comment-input' name='comment' type='text' placeholder='Insert your comment about the book...'> 
    
    <button type='submit'>Submit book</button>
</form>