<h1>Edit Image Profile</h1>

<form action="" enctype="multipart/form-data" method="post">

 
  <img src="{{user.avatar}}" alt="" >
  <label for="avatar-input">Avatar</label>
  <input type='file' name='avatar' id='avatar-input' accept='image/png, image/jpeg'>
  
  <button>Update image</button>

</form>