<div class='style-body-pages'>

  <h1>Edit image</h1>

  <div class='container-profile-edit'>
    <form action="" enctype="multipart/form-data" method="post">
      <img class='image-profile-edit' src="{{user.avatar}}" alt="" >
      
      <label for="avatar-input"></label>
      <input type='file' name='avatar' id='avatar-input' accept='image/png, image/jpeg'>
      <button>Update</button>
    </form>
  </div>
</div>