<div class='style-body-pages'>
<h1>Search a Book</h1>

 <form action='/book/result' method='GET'>
    <input id='title' name='title' type='search' placeholder='Search a title book...'> 
    <button type="submit">Search</button>
</form>
<ul>
    {{#each bookResults}}
        <li class='book-item'>
       <a href="create/{{id}}"> 
        {{title}}
        {{#each authors}} ({{this}}){{/each}}
        </a>
        </li>
       
    {{/each}}
</ul>
</div>