
<div id='container-addbook'>
    <div class='style-body-pages'>
        <h2>Add a Book to your page</h2><br>
        <div class='container-add-book'>
            <form action='/book/result' method='GET' class="search-form">
            <input name='title' type='search' placeholder='Search a title book'> 
            <button type="submit">Search</button>
            </form>
        </div>
    </div>
</div>