<h1>Search a Book</h1>

 {{!-- <form action='/book/searchBook' method='POST'>
    <input id='title' name='title' type='text' placeholder='Search a title book...'> 
    <button type="submit">Search</button>
</form> --}}
{{#each titleResults}}
    <div class='searchBookView'>
        <ul>
            <li class='title-search'>
            {{this}}
            {{authorResults}}
            <a href='/ -- colocar o path aqui do ADDBOOK /{{id}}'>Add Book</a>
            </li>
        </ul>
    </div>
{{/each}}
