<div class='style-body-pages'>
<h2>Find your book:</h2>
{{!-- 
<div class='homeview-search-results'>
    <form action='/book/result' method='GET'>
        <input id='title' name='title' type='search' placeholder='Search a title book...'> 
        <button type="submit" class='container-edit'>Search</button>
    </form>
</div> --}}

<ul>
    {{#each bookResults}}
        <li class='book-item'>
       <a href="create/{{id}}"> 
        {{title}}
        {{#each authors}} ({{this}}){{/each}}
        </a>
        </li>
    {{/each}}
</ul>
</div>