<div class='style-body-pages'>
  <h3>{{books.0.userCreator.name}}'s book</h3>
  {{#each books}}
    <a href="/book/{{_id}}"><h4>{{this.bookTitle}}</h4></a>
    <a href="/book/{{_id}}/edit">Edit this book</a>
  {{#if owner}}
  {{/if}}
  {{/each}}
 </div>