{{!-- File for test maps logic --}}

<h1>single book view</h1>

<div>
<h2>Book Title {{title}}</h2>
<h4>Book author {{author}}</h4>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  Quos soluta velit harum fuga molestiae culpa cupiditate pariatur. 
  Earum, ad ratione. Harum facilis enim explicabo deleniti 
  quia tempore cumque sit consequuntur.
  </p></div>

<form action="post">

  <label for="lat-input"></label>
  <input type="hidden" name="lat" id="lat-input" placeholder="location">
  <label for="lng-input"></label>
  <input type="hidden" name="lng" id="lng-input" placeholder="location">


</form>

<div id="map-view">
</div>

  <script src="/scripts/mapsCreate.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvNd635sKmUOsRjS--aKxAHfNu9bwD7QU&callback=initMap"></script>
 