
<h1>single book view</h1>

<form action="post">

  <label for="location-input"></label>
  <input type="text" name="location" id="location-input" placeholder="location">

</form>

<div id="map-view">
</div>

  <script src="/scripts/maps.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvNd635sKmUOsRjS--aKxAHfNu9bwD7QU&callback=initMap"></script>
 