
<h1>single book view</h1>

<div>
  <h2>Book Title {{title}}</h2>
<h4>Book author {{author}}</h4>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  Quos soluta velit harum fuga molestiae culpa cupiditate pariatur. 
  Earum, ad ratione. Harum facilis enim explicabo deleniti 
  quia tempore cumque sit consequuntur.
  </p></div>

<form action="post">

  <label for="lat-input"></label>
  <input type="hidden" name="location" id="lat-input" placeholder="location" value="-9"> 
  {{!-- // linkar path aqui "{{location.[1]}}" --}}
  <label for="lng-input"></label>
  <input type="hidden" name="location" id="lng-input" placeholder="location" value="-39"> 
  {{!-- // linkar path aqui "{{location.[1]}}" --}}


</form>

<div id="map-view">
</div>
  <script src="/scripts/userLocation.js"></script>
  <script src="/scripts/mapsView.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvNd635sKmUOsRjS--aKxAHfNu9bwD7QU&callback=initMap"></script>
 